  
<% comments.each do |comment| %>
<div>
  <p><%= link_to comment.user.first_name, user_path(comment.user) %> says: <%= link_to comment.content, edit_recipe_comment_path(recipe, comment) %> </p>
</div>
<% end %>