<br>
<br>
<br>
<br>
<br>
<div class="container">
<h1>Recipes by User</h1>

  <% @users.each do |user| %>
<ul class="list-unstyled">
    <li><%= link_to user.username, user_path(user)%></li>
  <% end %>
</ul>
</div>