
<h1><%= @user.username %></h1>
<h3><%=@user.username%>'s Recipes:</h3>
<br>
<br>
<div class="container">

</div>
<ul class="list-unstyled">
    <% @user.recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
    <% end %>
</ul>

