<br>
<h1 style="color: #198900;"> Tea Recipe Category List </h1>
  <% @categories.each do |category| %>
<ul class="list-unstyled">
    <li><%= link_to category.name, category_path(category)%></li>
  <% end %>
</ul>