<br><br>
<h1 class="grey-text text-darken-2"> Tea Recipe Category List </h1>
  <% @categories.each do |category| %>
<br>
 
<br>
<ul>
    <li><%= link_to category.name, category_path(category)%></li>
  <% end %>
</ul>